.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;
  background-color: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  position: -webkit-sticky; /* Tambahkan ini */
  position: sticky;
  top: 0;
  z-index: 100;
}

.navbar-logo {
  font-weight: bold;
  font-size: 1.5rem;
  color: #2F4FFD;
}

.navbar-menu {
  list-style: none;
  display: flex;
  gap: 2rem;
  margin: 0;
  padding: 0;
}

.navbar-menu li a {
  text-decoration: none;
  color: #333;
  font-weight: 700;
}

.navbar-menu li a:hover {
  color: #2F4FFD;
}

.navbar-auth .btn {
  margin-left: 0.5rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
}

.navbar-auth .login {
  background-color: transparent;
  color: #2F4FFD;
  border: 1px solid #2F4FFD;
}

.navbar-auth .register {
  background-color: #2F4FFD;
  color: white;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
  width: 100%;
}
