.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;
  background-color: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  position: -webkit-sticky; /* Tambahkan ini */
  position: sticky;
  top: 0;
  z-index: 100;
}

.navbar-logo {
  font-weight: bold;
  font-size: 1.5rem;
  color: #2F4FFD;
}

.navbar-menu {
  list-style: none;
  display: flex;
  gap: 2rem;
  margin: 0;
  padding: 0;
}

.navbar-menu li a {
  text-decoration: none;
  color: #333;
  font-weight: 700;
}

.navbar-menu li a:hover {
  color: #2F4FFD;
}

.navbar-auth .btn {
  margin-left: 0.5rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
}

.navbar-auth .login {
  background-color: transparent;
  color: #2F4FFD;
  border: 1px solid #2F4FFD;
}

.navbar-auth .register {
  background-color: #2F4FFD;
  color: white;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
  width: 100%;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-toggle {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 8px 12px;
  border-radius: 8px;
  cursor: pointer;
}

.dropdown-menu {
  position: absolute;
  top: 120%;
  right: 0;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  z-index: 999;
  box-shadow: 0 2px 8px rgba(0,0,0,0.15);
}

.dropdown-menu a,
.dropdown-menu button {
  display: block;
  padding: 8px 12px;
  text-decoration: none;
  color: black;
  background: none;
  border: none;
  cursor: pointer;
  width: 100%;
  text-align: left;
}

.dropdown-menu a:hover,
.dropdown-menu button:hover {
  background-color: #f5f5f5;
}

.save-btn {
  margin-top: 30px;
  background: #0025ff;
  color: #fff;
  border: none;
  padding: 10px 24px;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
  /* Hapus float */
}
